<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Equipos - Index</title>
    <link rel="stylesheet" href="~/views/equipodigitalizacion/equipodigitalizacion.css">
</head>
<body>
    <header class="text-white text-center p-4">
        <h2>Equipo</h2>
        <h4>Index</h4>
    </header>
    <main class="container mt-4 text-white">
        <div class="row align-items-center mb-4">
            <div class="col-auto">
                <label for="FiltroTxt" class="form-label mb-0">Buscar Equipo:</label>
            </div>
            <div class="col">
                <input id="FiltroTxt" class="form-control" type="search" autocomplete="off" placeholder="Ingrese el nombre de equipo" />
            </div>
            <div class="col text-end">
                <a href="@Url.Action("Nuevo", "EquipoDigitalizacion")" class="btn btn-success me-2">
                    <i class="fa-regular fa-square-plus"></i> Nuevo
                </a>
                <a href="/" class="btn btn-secondary">
                    <i class="fa-solid fa-arrow-left"></i> Retornar
                </a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <table id="EquipoDigitalizacionGrid" class="table table-bordered table-dark text-center">
                    <thead>
                        <tr>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Estado</th>
                            <th>Ubicacion</th>
                            <th>Tipo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="EquipoDigitalizacionBody">
                    </tbody>
                </table>
                <div class="row mt-2">
                    <div class="col-12 d-flex justify-content-between align-items-center">
                        <button id="prevPage" class="btn btn-outline-light">Anterior</button>
                        <span id="pageInfo" class="text-white">Página 1 de 0</span>
                        <button id="nextPage" class="btn btn-outline-light">Siguiente</button>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <script src="~/views/equipodigitalizacion/index.js"></script>
</body>
</html>