<form id="LoginFrm">
    <input id="UsuarioTxt" type="text" placeholder="Usuario" class="form-control mb-2" />
    <input id="ContraseniaTxt" type="password" placeholder="Contraseña" class="form-control mb-2" />
    <button id="LoginBtn" type="button" class="btn btn-primary">Iniciar sesión</button>
</form>

@section Scripts {
    <script src="~/views/login/login.js"></script>
}
