<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">
	<variable name="app" value="Digitalizacion.API" />
	<variable name="logFile" value="${basedir}/log/${app}-${shortdate}.log" />

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="eventlog" />
	</rules>

	<targets>
		<target name="eventlog"
				xsi:type="File"
				fileName="${logFile}"
				archiveEvery="Day"
				layout="${time}-${level:uppercase=true}-${message}"
				encoding="utf-8"  />
	</targets>
</nlog>